.media-item {
	cursor: pointer;
}

.media-item:hover img {
	border:1px solid #f00;
}

.selected-media img {
	border:1px solid #f00;
}


body.infodaily {
	background-color: #A71E1B;
}

.infodaily .navbar-default {
	background-color: #A71E1B;
}


.infodaily .nav>li>a {
	color: #fff;
}

.infodaily .sidebar ul li a.active {
	color: #000;
}

.infodaily .nav>li>a:hover, .nav>li>a:focus {
	color: #000;
}