.hci-head {
    border-bottom: 5px solid #EB6707;
}
.story-type-side .story-type-audio, .story-author, .story-back a, .story-twitter-bio, a {
    color: #EB6707 !important;
}
.bdl-separator {
    border-top: 5px solid #EB6707;
}
.load-more {
    background-color: #EB6707;
}
.cnm-btn {
    background-color: #EB6707 ;
    border: 1px solid #EB6707;

}