#home section {
  padding-top: 2em;
  padding-bottom: 2em;
}

#about p.lead {
  font-size: 1.6em;
  font-weight: 400;
  color: #545454;
}

#about-list h3 {
  text-transform: lowercase;
  font-weight: bold;
  color: #6f6f6f;
  margin-bottom: 10px;
}
#about-list h3 span {
  color: #fb0;
}

#about i.about-list-icon {
  width: 50px;
  height: 50px;
  margin: 10px 0;
  background-image: url('../img/about-icons.png');
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 0;
  display: block;
}

#about i.about-list-icon.programmes-icon { background-position: -50px 0; }
#about i.about-list-icon.mission-icon { background-position: -100px 0; }

#him {
  background-color: #ebebeb;
}

/* Carousel styles */
#him-carousel div.item {
  margin-bottom: 1em;
  overflow: hidden;
}
#him-carousel img {
  display: block;
  margin-bottom: 10px;
}
#him-carousel span {
  font-size: 15px;
  color: #545454;
  display: block;
  margin: 20px 0 10px;
}
#him-carousel a strong {
  font-size: 18px;
}
#him-carousel p {
  margin: 0 0 10px;
  font-size: 14px;
}
#him-carousel .carousel-inner .active.left { left: -33%; }
#him-carousel .carousel-inner .next        { left:  33%; }
#him-carousel .carousel-inner .prev        { left: -33%; }
#him-carousel .carousel-control {
  background-image:none;
  width: 5%;
  color: #999;
  text-shadow: none;
}
#him-carousel .carousel-control:hover,
#him-carousel .carousel-control:focus {
  color: #545454;
}
#him-carousel .carousel-control.left {
  left: -5%;
  border-right: 1px solid #bbb;
}
#him-carousel .carousel-control.right {
  right: -5%;
  border-left: 1px solid #bbb;
}


#latest {
  background-color: #ebebeb;
  padding-bottom: 1.75em;
}

#latest h3 {
  font-size: 2em;
  font-weight: 400;
  color: #545454;
  margin-bottom: .75em;
}
#latest h4 strong {
  display: block;
}
#latest .tweet {
  position: relative;
  overflow: hidden;
}
#latest .tweet img {
  float: left;
}
#latest .tweet h4 {
  margin-top: 30px;
  margin-left: 80px;
}
#latest .tweet h4 small {
  display: block;
}
#latest .tweet p {
  font-size: 18px;
  font-weight: 400;
}

#latest .content-item {
  overflow: hidden;
}
#latest .content-item h4 {
  margin-bottom: 2px;
  font-size: 22px;
  font-weight: normal;
}
#latest .content-item h4 strong {
  font-size: 18px;
  font-weight: bold;
}
#latest .content-item span.date {
  font-size: 14px;
  font-weight: bold;
  display: block;
  line-height: 22px;
  height: 22px;
  color: #646464;
}
#latest .content-item p {
  font-size: 16px;
  color: #646464;
}

#who {
  padding-top: 3em;
}
