.hci-head {
	border-bottom: 5px solid #A71511;
}
.story-type-side .story-type-audio, .story-author, .story-back a, .story-twitter-bio, a {
	color: #A71511 !important;
}
.bdl-separator {
	border-top: 5px solid #A71511;
}
.load-more {
	background-color: #A71511;
}
.cnm-btn {
	background-color: #A71511;
	border: 1px solid #A71511;
}
