.hci-head {
	border-bottom: 5px solid #2BA591;
}
.story-type-side .story-type-audio, .story-author, .story-back a, .story-twitter-bio, a {
	color: #2BA591 !important;
}
.bdl-separator {
	border-top: 5px solid #2BA591;
}
.load-more {
	background-color: #2BA591;
}

.cnm-btn {
	background-color: #2BA591;
	border: 1px solid #2BA591;
}