@import url('home.css');

body {
	font-family: 'Source Sans Pro', sans-serif;
	position: relative;
}

body p, body ul {
	font-size: 16px;
	line-height: 1.4em;
	font-weight: 300;
}

body ul.section-list {
  list-style: none;
  padding:0;
  margin:0;
}

body ul.section-list li {
  padding-left: .75em;
  text-indent: -.5em;
}

body ul.section-list li:before {
  content: " â€¢ ";
  color: #fb0; /* or whatever color you prefer */
  margin-right: 5px;
}
h2 {
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 0px;

	font-size: 30px;
}
h3 {
	margin:0px;
	font-size: 22px;
	text-transform: uppercase;
	color: #008c8c;
}
p {
	margin-bottom: 15px;
}
p.lead {
	font-size: 1.35em;
	font-weight: 400;
	color: #545454;
}

#header-contact {
	float:right;
	font-size: 15px;
	font-weight: bolder;
	color: #9d9d9d;
}
a.header_l:before {
	position: relative;
	top: -260px;
}
.navbar {
	border-radius: 0px;
}
ul.programs li {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 8px;
}
#navbar {
	padding: 0px;
}
.affix .navbar-header {
	margin-top: 5px !important;
	margin-bottom: 15px !important;
}

.affix .navbar {
	height: 160px;
}

.navbar-header {
	width: 100%;
	height: 45px;
	margin-bottom: 50px;
	margin-top: 50px;
}

.hci-navbar .navbar-header {
	height: 100%;
	margin: 0px;
	padding-top: 25px;
}
.navbar {
	height: 240px;
	margin-bottom: 0px;
}

.hci-navbar {
	height: 100px;
	border-bottom: 5px solid #BACE00;
}
.navbar-inverse {
	background-color: #313140;
}

.hci-navbar #header-contact a {
	line-height: 4;
	color: #fff !important;
}

.navbar-nav li {
	display: block;
	height: 55px;
	width: 270px;
	margin-right: 20px;
}

.navbar-nav li:last-child {
	margin-right: 0px;
}

.navbar-nav li a {
	padding-left:0px;
	padding-right:0px;
	font-size: 16px;
	border-top:1px solid #5A5A66;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-nav li a.active {
	color: #FFBF00 !important;
	background-color: transparent !important;
	border-top:1px solid #FFBF00;
}

.ockham-primarynav .nav.navbar-nav {
	float: none;
	margin-right: 60px;
}
.ockham-primarynav .nav.navbar-nav li {
	width:30%;
	text-transform: uppercase;
	font-weight: bold;
}
.ockham-primarynav .brand-link {
	float: right;
	display: block;
	
	height: 65px;	
	width: 65px;
	background: #313140 url('../img/logo_on-off.png') 0 0 no-repeat;
	text-indent: -999em;
}
.ockham-primarynav .brand-link:hover,
.ockham-primarynav .brand-link:focus,
.ockham-primarynav .brand-link:active,
.ockham-primarynav .brand-link.active {
	background-position: 0 -65px;
	
}

.subnavbar-ockham {
	height: 40px;
	line-height: 40px;
	margin-top: -1px;
	font-size: 15px;
	background: rgb(235,235,235);
	border-top: 1px solid #ffbb00;
}

ul.nav-pills.ockham-subnav {
	position: relative;
	background: transparent;
	padding: 0 10px;
	margin:0;
	margin-top: 0px;
	height: 40px;
	line-height: 40px;
}

ul.nav-pills.ockham-subnav > li {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	margin-right: 2em;
	background: transparent;
}
ul.nav-pills.ockham-subnav > li > a,
ul.nav-pills.ockham-subnav > li > span {
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	border: 0 none;
	border-radius: 0;
	display: block;
	height: 38px;
	color: #555;
	/*text-shadow: rgba(255,255,255,.5) 0 1px 0;*/
	padding: 0 15px;
}
ul.nav-pills.ockham-subnav > li > a:hover,
ul.nav-pills.ockham-subnav > li > a:focus {
	background: transparent;
}
ul.nav-pills.ockham-subnav > li.active > a,
ul.nav-pills.ockham-subnav > li.active > span {
	border-bottom: 4px solid #fb0;
	background: transparent;
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
ul.nav-pills.ockham-subnav > li.active > a:hover,
ul.nav-pills.ockham-subnav > li.active > a:focus {
	color: #555;
}
ul.nav-pills.ockham-subnav > li .disabled-text {
	color: #aaa;
	font-weight: 200;
}

.subnav-ockham {
	background-color: transparent !important;
	position: absolute;
	border:none !important;
	box-shadow: none;
	float: left;
	height: 40px;
	padding: 0px;
	top:auto;
	bottom: -40px;
	width: 940px;
}

.subnav-ockham li {
	border:none !important;
	display: inline-block;
	margin-right: 40px;
	height: 30px;
	width: auto;
}

.subnav-ockham li a {
	color: #31313F !important;
	border:none !important;
	display: inline-block;
	font-size: 14px;
	padding: 0px;
	line-height: 30px;
	height: 30px;
}

.subnav-ockham li a:hover, .subnav-ockham li a:active {
	background-color: transparent;
	text-decoration: underline;
}

.ockham-line {
	background-color: #FFBF00;
  width: 50px;
  float: left;
  display: block;
  height: 1px;
  margin-bottom: 10px;
}

.profile-line {
	width: 195px;
	margin-bottom: 10px;
	margin-top: 0px;
}
.pullthrough-box {
	padding-top: 30px;
	padding-bottom: 20px;
	margin-top: 60px;
	margin-bottom: 30px;
	background-color: #DBDBEA;
}

.pullthrough-box h2 {
	font-size: 24px;
	font-weight: 400;
	margin-top: 15px;
}
.alternate-box {
	background-color: #fff !important;
	margin-top: 15px !important;
}
.pullthrough-box .hci-lead {
	height: 328px;
	border:1px solid #fff;
}

.pullthrough-box p {
	font-size: 16px;
}
.pullthrough-box .hci-lead .standfirst {
	height: 85px;
}

.pullthrough-box .hci-lead .standfirst h2 {
	margin-bottom: 5px !important;
}
.pullthrough-box .hci-lead .standfirst h2 a {
	font-size: 16px;
}

.pullthrough-box .hci-lead .standfirst p {
	font-size: 13px;
}
.video-box .video {
	margin-top: 35px;
	margin-bottom: 35px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.profile-box, .advisor-box {
	margin-top: 15px;
	margin-bottom: 15px;
}

.profile-box {
	height: 550px;
}

.profile-box p, .advisor-box p {
	font-size: 13px;
	font-weight: 400;
}
.profile-box img, .advisor-box img {
	display: block;
	margin-bottom: 20px;
}

.profile-box .line, .advisor-box .line {
	display: block;
}
.profile-box h4, .advisor-box h4 {
	font-weight: 400;
	font-size: 24px;
	color: #31313F;
	margin-bottom: 20px;
}

.advisor-box h4 {
	font-size: 18px;
}

.profile-box h4 span {
	font-size: 16px;
	color: #A8A8B7;
}

.orange {
	color: #FFBF00;
}

.contacts .contact-info {
	font-size: 18px;
}
.contacts h5 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 5px;
	margin-bottom: 0px;
}

.contacts .fa {
	font-size: 30px !important;
}

.copyright p {
	font-size: 13px;
}

.navbar-hci {
	height: 210px;
}
a {
	color: #008C8C;
}

a:hover {
	color: #008C8C;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
	background-color: transparent;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
	border-color: #5A5A66;
}

.hci-head {
	margin-bottom: 0px;
	border-top:5px solid #DDDDDD;
	padding-top: 5px;
	border-bottom: 5px solid #EB6707;
}

.filter-wrap {
	margin-top: 5px;
	padding: 10px;
	padding-bottom: 0px;
	margin-bottom: 15px;
	background-color: #636372;
}

.bdl-separator {
	border-top: 5px solid #EB6707;
	margin-bottom: 10px;
	height: 5px;
}

.hci-lead {
	height: 439px;
	width: 100%;
	position: relative;
}

.hci-lead .standfirst {
	position: absolute;
	bottom: 0;
	height: 120px;
	padding-right: 5px;
	padding-left: 5px;
	width: 100%;
	color: #fff;
	background-image: url('../img/standfirst-bg.png');
	background-repeat: repeat-x;
}

.hci-lead .standfirst h2 a {
	color: #fff;
	font-size: 24px;

}

.hci-lead .standfirst p {
	color: #fff;
	font-size: 18px;

}
.story-type {
	position: absolute;
	height: 40px;
	width: 40px;
	top:0;
	right: 0;
	font-size: 45px !important;
	text-align: center !important;
	color: #fff;
}

.story-head {
	width: 100%;
	position: relative;
}

.story h2 {
	font-weight: 400 !important;
}
.story-type-audio {
	background-color: #AB0768;
}

.story-type-text {
	background-color: #169D99;
}

.story-type-video {
	background-color: #070743;
}

.second-story h2 {
	font-size: 24px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.second-story p {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: 'Arial';
}
.third-story h2 {
	font-size: 18px;
	margin-top: 15px;
}

.archive-story h2 {
	font-size: 16px;
	margin-top: 15px;
}

.story-full h2 {
	font-size: 36px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.story-full p {
	max-width: 760px;
	font-size: 13px;
	font-family: 'Arial';
}

.story-back {
	position: absolute;
	top:15px;
	right: 0;
	text-align: right;
	z-index: 1000;
}

.story-author {
	font-size: 20px;
	font-weight: 600;
	margin-top: 10px;
}

.story-bio {
	font-size: 13px;
	font-family: Arial;
	margin-bottom: 15px;
	color: #333333;
}

.ad-block {
	width: 100%;
}

.sidebar-head {
	margin:0;
	margin-bottom: 15px;
	margin-top: 15px;
	color: #646473 !important;
	font-size: 16px;
	text-transform: uppercase;
}
.story-published {
	font-size: 12px;
	font-family: 'Arial';
}
.standfirst-p {
	font-size: 18px !important;
	margin-top: 10px;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-weight: 400 !important;
}
.story-type-side {
	width: 100%;
	height: 65px;
	position: relative;
}

.story-type-side .story-type {
	position: relative;
	background-color: transparent !important;
	text-align: left;
}

.story-type-side .story-type-audio {
	color: #AB0768 !important;
}

.story-type-side .story-type-text {
	color: #169D99 !important;
}

.story-type-side .story-type-video {
	color: #070743 !important;
}

.story h2 a {
	color: #31313F !important;
}
.double-dotted-bottom {
	border-bottom:1px dotted #000;
	position: relative;
}

.double-dotted-bottom:after {
	 border-bottom:1px dotted #000;
     content:'';
    left:0;
    position:absolute;
    bottom:-3px;
    width:100%;
}

.double-dotted-top {
	border-top:1px dotted #000;
	position: relative;
}

.double-dotted-top:after {
	 border-top:1px dotted #000;
     content:'';
    left:0;
    position:absolute;
    top:-3px;
    width:100%;

}

.second-story, .third-story, .archive-story {
	margin-bottom: 20px;
}

.archive-story {
	height: auto;
}

.third-story {
	height: 230px;
}

.sort-by {
	position: relative;
	
	font-size: 25px !important;
	margin-top:10px;
	margin-bottom: 10px;
}

.scroll-next {
	display: block;
	font-size: 16px;
	width: 120px;
	height: 40px;
	background-color: #313140;
	color: #fff;
	text-align: center;
	line-height: 40px;
	margin-left:auto;
	margin-right: auto;
}

.scroll-next:hover {
	color: #fff !important;
}

.story-overlay {
	position: absolute;
	top:0;
	height: 100% !important;
}

h1.banner {
	margin: 1.25em 0 .5em;
	font-size: 3em;
	font-weight: 100;
	line-height: 1.5em;
}

h1.banner span, h1.banner strong {
	background-color: #fb0;
	padding-left: 5px;
	padding-right: 5px;
}

.yellow-band {
	background-color: #fb0;
	margin-bottom: 1.5em;
	padding-top: 2em;
	padding-bottom: 1em;
}
.yellow-band p.lead {
	display: block;
	font-weight: 400;
	font-size: 2.2em;
	color: #545454;
	line-height: 40px;
}
.yellow-band p.lead a {
	color: #545454;
	text-decoration: underline;
}
.yellow-band p {
	font-size: 1.65em;
	font-weight: 400;
}
.yellow-band strong {
	color: #fff;
	font-weight: 400;
	font-size: 2.2em;
}

section.inner-section
{
	padding: 2em 0;
}
section.inner-section h2 {
	font-weight: 800;
	font-size: 20px;
	padding: 0;
	margin-bottom: .75em;
}
section.inner-section h2 span {
	color: #fff;
	background-color: #008a8a;
	padding: 4px 10px;
	line-height: 32px;
}

.inner-section-list-item {
	margin-bottom: 2em;
}
.inner-section-list-item h3 {
	color: #848484;
	border-bottom: 2px solid #fb0;
	line-height: 30px;
	margin-bottom: .5em;
	text-transform: none;
	font-size: 16px;
	font-weight: bold;
}

.inner-section-list-item h4 {
	color: #008a8a;
	border-bottom: 1px solid #008a8a;
	font-weight: bold;
	font-size: 1em;
	line-height: 2.25em;
}

.inner-section-list-item h3 strong {
	color: #fb0;
	text-transform: uppercase;
	margin-right: 2em;
	font-size: 18px;
}

@media (max-width: 1200px) and (min-width: 991px) {
	.navbar-nav li {
		width: 180px;
	}
	.subnav-ockham li {
		width: auto;
	}

}

@media (min-width: 992px) {
	.tomn-header {
		position: absolute !important;
		right: 0px !important;
		bottom: 15px !important;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.navbar-nav li {
		width: 150px;
	}
	.navbar-nav li a {
		font-size: 14px;
	}
	.subnav-ockham li {
		width: auto;
	}
	.subnav-ockham li a {
		font-size: 13px;
	}
}

@media (max-width: 768px) {
	
	.hci-lead,
	.pullthrough-box .hci-lead {
	 	height: auto;
	}

	.hci-lead .standfirst {
	 	position: relative;
	 	background: transparent;
	 	height: auto;
	}
	.hci-lead .standfirst h2 a {
		margin-top: 10px;
		color: #000;
		font-size: 20px;
	}
	.pullthrough-box .hci-lead h2 a,
	.pullthrough-box .hci-lead .standfirst p {
		color: #fff;
	}
	.hci-lead .standfirst p {
		color: #000;
		font-size: 14px;
	}
	.navbar {
		height: auto;
	}
	.navbar-hci {
		height: auto;
	}
	.navbar-nav li {
		width: 100%;
		height: auto;
	}

	.navbar-nav li a {
		padding-left: 15px;
	}

	.subnav-ockham {
		height: 160px;
		background-color: #FFBF00 !important;
		border-radius: 0px !important;
		box-shadow: none !important;
	}

	.subnav-ockham li {
		display: block;
		float: left;
	}

	.subnav-ockham li a {
		color: #fff !important;
	}

	.navbar-fixed-bottom .navbar-collapse,
	.navbar-fixed-top .navbar-collapse {
		max-height: none;
	}

	.subnavbar-ockham {
		display: none;
	}

	.navbar-nav {
		margin: 0px;
	}

	.navbar-inverse .navbar-toggle {
		border: none;
	}

	.navbar-header {
		margin-top: 15px;
		margin-bottom: 30px;
	}

	.copyright {
		text-align: left !important;
	}

	#header-contact {
		display: none;
	}
}

@media (max-width: 388px) {
	body {
	 	padding-top: 100px;
	}
	.navbar-brand {
		width: 200px;
	}
	#header-contact {
		display: none;
	}
	.navbar-hci {
		height: auto;
	}

	.ockham-primarynav .nav.navbar-nav {
		margin-right: auto;
	}
	.ockham-primarynav .brand-link {
		display: none;
	}
	.ockham-primarynav .nav.navbar-nav li {
    width: 100%;
  }

  h1.banner {
    font-size: 2em;
	}
	.yellow-band p.lead {
    font-size: 1.75em;
    text-align: center;
	}
}


.hisig-link:hover {
	text-decoration: none !important;
}

.tommn-footer a {
	color: #31313F;
	text-decoration: underline;
}
img {
	vertical-align: top;
}

.bullet {
	color: #00B4AD;
}



.bml-feature {
	margin-top: 50px;
	border-top: 8px solid #2E2E2C;
	padding-top: 15px;
}

.bml-feature img {
	margin-left: 10px;
	margin-bottom: 40px;
}

.bml-feature .bml-bg {
	width: 100%;
	background-color: #B21804;
	padding: 15px;
	text-align: center;
	font-size: 20px;
	font-family: 'Noto Serif', serif;
	color: #fff;
}

.story-type-side .story-type-audio, .story-author, .story-back a, .story-twitter-bio, a {
	color: #EB6707 !important;
}

.load-more {
	background-color: #EB6707;
	color: #fff !important;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 0px;
	-webkit-border-radius: 0px;
}

.footer-dark, .footer-light {
	background-color: #636372;
	padding-top: 20px;
	overflow: hidden;
	color: #fff;
	text-align: left !important;
	font-family: 'Source Sans Pro';
	font-size: 14px !important;
}

.footer-light {
	background-color: #DCDCDC;
}

.footer-dark h2 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.footer-dark img {
	margin-bottom: 10px;
}

.footer-dark a {
	color: #fff !important;
	text-decoration: underline;
}

.footer-light h2 {
	text-align: center;
	font-size: 18px;
	color: #646472;
	font-weight: bold;
	margin-top: 30px;
	margin-bottom: 15px;
}

.story-full h2 {
	font-family: 'Source Sans Pro' !important;
	font-size: 42px !important;
	font-weight: 600;
	color: #52525F !important;
}

.story-type img {
	width: 40px;
	height: 40px;
}

.footer-light .center {
	text-align: center !important;
}

.cnm-btn {
	background-color: #EB6707 !important;
}

.header-wrapper {
	background-color: #EDEDED !important;
	overflow: hidden;
	margin-left: -16px;
	
	position: relative;
	height: 333px;
}

.header-wrapper h3 {
	font-size: 28px;
	color: #A8A8B7;
	font-weight: bold;
	margin-bottom: 5px;
}

.social-block .sep {
	margin-right: 5px;
}

 .archive-story {
 	height: 155px;
 	margin-bottom: 15px;
 }
 
.latest-story { 
	height: 430px;
 }

